*{
  margin: 0;
  padding: 0;
}

:root{
  --background: hsl(233, 47%, 7%);
  --cardBackground: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --stats: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --headings: hsla(0, 0%, 100%, 0.6);
  --fonte1: 'Inter', sans-serif;
  --fonte2: 'Lexend Deca', sans-serif;
}

body{
  background-color: var(--background);
}

.container{
  display: flex;
  background-color: var(--stats);
  width: 800px;
  height: 330px;
  margin: 120px auto;
  border-radius: 8px;
}

.box{
  background-color: var(--cardBackground);
  width: 400px;
  height: 330px;
}

.box1{
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  width: 400px;
  height: 330px;
}

h1{
  margin: 40px 40px 30px 40px;
  font-family: var(--fonte2);
  color: var(--stats);
  font-size: 1.7rem;
}

.text{
  color: var(--paragraph);
  font-family: var(--fonte1);
  margin: 0px 40px 20px 40px;
  font-size: .8rem;
  line-height: 1.2rem;
}

span{
  color: var(--accent);
  font-family: var(--fonte2);
}

.quadro{
  color: var(--stats);
  display: flex;
  flex-direction: row;
  padding: 30px 40px;
  justify-content: space-between;
}

h3{
  font-family: var(--fonte1);
  font-size: 1rem;
}

p{
  font-family: var(--fonte2);
  font-size: .7rem;
  color: var(--paragraph);
  padding-top: 5px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  color: var(--stats);
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
  .container{
    display:flex;
    flex-wrap:wrap-reverse;
    width: 290px;
    height: 700px;
    margin: 70px auto;
  }

  .box{
    width: 290px;
    height: 500px;
    border-radius: 8px;
  }
  
  .box1{
    background-image: url(./images/image-header-mobile.jpg);
    background-size: cover;
    border-radius: 8px;
    width: 290px;
    height: 200px;
  }
  
  h1{
    margin: 20px 20px 15px 20px;
    text-align: center;
    font-family: var(--fonte2);
    color: var(--stats);
    font-size: 1.6rem;
  }
  
  .text{
    text-align: center;
    margin: 0px 35px 5px 35px;
    font-size: .8rem;
    line-height: 1.4rem;
  }
  
  .quadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
 
  p{
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .attribution{
    padding-bottom: 10px;
  }
}